<!DOCTYPE html>
<html>
<head>
    <title>User Input Form</title>
</head>
<body>
    <h1>Input Form</h1>

    <form action="/validation" method="post">
        <label for="noun_input">Enter a noun:</label>
        <input type="text" id="noun_input" name="noun_input" required placeholder="tom, apple...">

        <label for="adj_input">Enter an adjective:</label>
        <input type="text" id="adj_input" name="adj_input" placeholder="big, small..." required>

        <label for="verb_input">Enter a verb:</label>
        <input type="text" id="verb_input" name="verb_input" placeholder="run, running" required>

        <input type="submit" value="Submit">
    </form>

    {% if not valid_noun or not valid_adjective or not valid_verb %}

        {% if not valid_noun %}
            <p class="error">Not a valid noun. Please try again.</p>
        {% endif %}
    
        {% if not valid_adjective %}
            <p class="error">Not a valid adjective. Please try again.</p>
        {% endif %}
    
        {% if not valid_verb %}
            <p class="error">Not a valid verb. Please try again.</p>
        {% endif %}
        
    {% endif %}

    {% if valid_noun and valid_adjective and valid_verb %}

        <p> {{randomStory}} </p>

    {% endif %}

</html>
